<div class="col-sm-2 offset-md-5 login-modal">
  <%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :email, "e-mail" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "password" %>
    <%= f.password_field :password, class: "form-control" %>
  <div>
  <div class="form-button">
    <%= f.submit "let's go!", class: "btn btn-outline-primary btn-block" %>
  </div>
  <% end %>
</div>
