<div class="col-sm-4 offset-sm-4 family-modal">
  <div class="card">
    <div class="card-header">
      Create Someone
    </div>
    <div class="card-block">
      <%= form_for fam do |f| %>
      <div class="form-group">
        <%= f.label :first_name, "first name" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "last name" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :birthdate, "birthdate" %>
        <%= f.date_field :birthdate, id:"birthdate", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :raw_relationship, "relationship" %>
        <%= f.text_field :raw_relationship, class: "form-control" %>
      </div>
      <div class="form-button">
        <%= f.submit button_text, class: "btn btn-outline-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
